.App {
  text-align: center;
}

.App-header {
  background-color: #2c3c30;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center items in the header */
  justify-content: center; /* Center the title */
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* This is to set a context for the absolute positioning of the logo */
}

.App-logo {
  height: 100px;
  pointer-events: none;
  position: absolute; /* Absolute positioning */
  left: 20px; /* 20px from the left edge */
}

.App-link {
  color: #61dafb;
}
